.card {
    display: flex; /* contenedor de flexbox */
    flex-direction: column; /*  dirección de los elementos como columnas */
    align-items: center; /*  alineación vertical del contenido en el centro del contenedor */
    padding: 10px; /* relleno */
    border-radius: 5px; /* esquinas redondeadas */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* sombra suave */
    background-color: rgba(160, 34, 43, 0.8); /* color de fondo poco transparente */
  }
  
  .imageCard {
    width: 80%; /* ancho de la imagen en un 80% del ancho del contenedor */
    height: 200px; /* altura de la imagen */
    object-fit: contain; /* establece cómo la imagen debe ajustarse al tamaño del contenedor */
    margin-bottom: 10px; /* margen inferior */
  }
  
  .cardName {
    font-family: 'Bangers', cursive; /* fuente */
    color: white; /* color de fuente */
    font-size: 30px; /* tamaño */
    margin: 0 0 5px 0; /* margen inferior 5px */
  }
  
  .pokeTypes {
    font-family: 'Ubuntu', cursive; /* fuente */
    font-size: 20px; /* tamaño */
    color: white; /* color */
    margin: 0; /* o márgenes */
  }

  .card:hover {
    background-color: #160c05; /* cambia color de fondo al pasar con mouse */
  }
  