.container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
  }
  
  .detailCard {
    display: flex;
    flex-direction: row;
    border-radius: 20px; 
    border: 5px solid #160c05;
    width: 100%; 
    max-width: 800px;
    margin-top: 20px; 
    padding: 20px; 
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .pokeImg {
    border-radius: 20px;
    width: 100%; 
  }
  
  .detailCard div {
    width: 50%; 
    padding-left: 20px; 
  }
  
  .pokemonName {
    font-family: 'Bangers', cursive;
    color: #160c05;
    font-size: 40px;
    margin-top: 0;
  }
  
  .pokemonType {
    font-family: 'Ubuntu', cursive;
    color: #160c05;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .detailCard p {
    font-family: 'Ubuntu', cursive;
    color: #160c05;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }

.loading {
  font-family: 'Ubuntu', cursive;
  color: #160c05;
  font-size: 20px;
}