.container {
    display: flex; /* flexbox */
    flex-direction: column; /* dirección en columna */
    align-items: center; /* color de fondo */
  }
  
  .detailCard {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border-radius: 20px; /* borde redondeado */
    border: 5px solid #160c05;
    width: 100%; /* ancho completo del contenedor */
    max-width: 800px; /* ancho máximo de 800px */
    margin-top: 20px; /* margen superior */
    padding: 20px; /* relleno */
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* sombra*/
  }
  
  .pokeImg {
    border-radius: 20px; /* borde redondeado */
    width: 100%; /* ancho completo del contenedor */
    /* object-fit: cover; */
    /* height: 100%; */
  }
  
  .detailCard div {
    width: 50%; /* ancho */
    padding-left: 20px; /* relleno */
  }
  
  .pokemonName {
    font-family: 'Bangers', cursive;
    color: #160c05;
    font-size: 40px;
    margin-top: 0;
  }
  
  .pokemonType {
    font-family: 'Ubuntu', cursive;
    color: #160c05;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .detailCard p {
    font-family: 'Ubuntu', cursive;
    color: #160c05;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  /* primer elemento hijo de detailCard debe tener una altura del 100% */
  /* .detailCard > div:first-child {
    height: 100%; 
  } */

.loading {
  font-family: 'Ubuntu', cursive;
  color: #160c05;
  font-size: 20px;
}