body {
  background-image: url('./img/fondo.jpg');
  background-size: cover; /* ajusta la imagen al ancho y alto de la página, sin distorsionarla, recortando el exceso */
  background-repeat: no-repeat; 
  background-position: center;
  background-attachment: fixed; /* fija en su posición inicial mientras el contenido de la página se desplaza */
}

.container {
  background-color: rgba(218, 216, 216, 0.5); 
  border: 2px solid #160c05;
  border-radius: 10px; 
  padding: 80px 20px; 
  position: absolute;
  top: 50%; /* posición vertical y horizontal del elemento, se posicionará en el centro del contenedor padre*/
  left: 50%; /* solo definir estos valores no garantiza que el elemento esté centrado */
  transform: translate(-50%, -50%);  /* ajusta la posición del elemento en relación con su punto de origen */
  /*  la combinación permite posicionar un elemento de forma precisa en el centro de su contenedor padre */
}

.title {
  font-family: 'Bangers', cursive;
  font-size: 60px; 
  color: #160c05; 
}

button {
  font-family: 'Ubuntu', cursive; 
  background-color: #a0222b; 
  border: none; 
  color: white; 
  padding: 8px 16px; 
  font-size: 18px;
  margin: 4px 2px; 
  cursor: pointer; 
  border-radius: 2px; 
}

button:hover {
  background-color: #be2c34;
}